@import 'variable.scss';

@each $color in map-keys($colors){
	.color-#{$color} { color: map-get($colors, $color); }	
	.bgcolor-#{$color} { background-color: map-get($colors, $color); }	
}
.bgcolor{
	&-flush-mahogany,
	&-congo-brown	{ color: #E5E5D6; }
}

@each $icon in map-keys($icons){
	.icon-#{$icon} 	{ color: 			map-get($icons, $icon); }
}