@import 'variable.scss';

@each $color in map-keys($colors){
	.color-#{$color} {
		color: map-get($colors, $color);
	}	
	.bgcolor-#{$color} {
		background-color: map-get($colors, $color);
		&.btn:hover{
			background-color: darken(map-get($colors, $color), 5%);
		}}	
}
.bgcolor{
	&-crimson,
	&-flush-mahogany,
	&-congo-brown	{ color: #F7F5F3/*map-get($colors, moon-mist)*/; }
}

@each $icon in map-keys($icons){
	.category-#{$icon} 	{ background-color: 	map-get($icons, $icon); }
}