.dot {
	position: relative;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: black;

	&2{ left: 18px; }
	&3{ left: 36px; }
	&4{ left: 54px; }

	&:before,
	&:after{
		position: absolute;
		content: "";
	    background-color: black;
	    width: 2px;			left: 3px;
	}
	&:before		{ top: -8px;		height: 20px;}
	&:after			{ top: 5px;			height: 5px; }

	&.first:before	{ top: -20px;			height: 30px; }

	&.next:after,
	&.previous:after{
		content: "";
		position: absolute;
		background-image: url('../../src/images/link.svg');
		background-repeat:no-repeat;
		background-color: transparent;
		width: 37px;		height: 72px;
	}

	&.next:after{
	    top: 10px;			left: 2px;
	}
	&.previous:after{
		transform: scale(1, -1);
	    top: -10px;		    left: -16px;
	}
}