@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?bwe18w');
	src:url('../fonts/icomoon.eot?bwe18w#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?bwe18w') format('truetype'),
		url('../fonts/icomoon.woff?bwe18w') format('woff'),
		url('../fonts/icomoon.svg?bwe18w#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'icomoon';
	speak: none;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-flag-english:before {
	content: "\e900";
}
.icon-flag-france:before {
	content: "\e901";
}
.icon-house:before {
	content: "\e902";
}
.icon-asso:before {
	content: "\e903";
}
.icon-formation{
	font-size: 10px;	
	&:before {
		content: "\e904";
	}
}
.icon-project{
	font-size: 16px;
	line-height: 31px;
	&:before {
		content: "\e905";
	}
}
.icon-work:before {
	content: "\e906";
}
.icon-linkedin:before {
	content: "\e907";
}
.icon-mail:before {
	content: "\e909";
}
.icon-phone:before {
	content: "\e90a";
}

