@import 'https://fonts.googleapis.com/css?family=Lato:400,300italic,300,100italic,100,400italic,700,700italic,900,900italic';
@import 'reset.css';
@import 'colors.css';
@import 'icon-font.css';
@import 'layout.css';
@import 'material-design.css';
@import 'dot.css';
@import 'typography.css';
@import 'skill.css';
@import 'variable.css';

body{
	font-family: 'Lato';
	font-weight: 300;
	box-sizing: border-box;
}
.block{
	height: 100px;
    padding: 20px 0px;
    box-sizing: border-box;
}

.header{
    font-family: 'Raleway';
    p{
        font-weight: 500;
        font-size: 12px;
        span{
            font-variant: small-caps;
            letter-spacing: 1px;
            text-align: right;
        }
    }
}

.timeline{
    position: relative;
    &:before{
        content: '';
        width: 2px;
        height: 1650px;
        position: absolute;
        background-color: rgba(black, 0.1);
        z-index: -10;
        left: 145px;
    }
}