@import 'https://fonts.googleapis.com/css?family=Lato:400,300italic,300,100italic,100,400italic,700,700italic,900,900italic';
@import 'reset.css';
@import 'variable.css';
@import 'colors.css';
@import 'icon-font.css';
@import 'layout.css';
@import 'material-design.css';
@import 'dot.css';
@import 'typography.css';
@import 'skill.css';

body{
	font-family: 'Lato';
	font-weight: 300;
	box-sizing: border-box;
}
.block{
	height: 70px;
    padding: 10px 0px;
    box-sizing: border-box;
    &:nth-last-child(n+2)       { border-bottom: solid 1px #CCCCCC; }
}

.header{
    font-family: 'Raleway';
    p{
        font-weight: 500;
        font-size: 12px;
        span{
            font-variant: small-caps;
            letter-spacing: 1px;
            text-align: right;
        }
    }
}