.timeline{
	padding-top: 10px;

	& .block{
		position: relative;
	    padding: 5px 0px;
	    box-sizing: border-box;
		&:before{
	        content: '';
	        width: 2px;
	        height: 100%;
	        position: absolute;
	        background-color: rgba(black, 0.1);
	        z-index: -10;
	        left: 135px;
	        top: -10px;
	    }
		& .category,
		& .main{
			box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
		}
	}
}
.category{
	color: white;
    border-radius: 15px;
    height: 30px;
    line-height: 27px;
}