@import 'variable';

.title{
	&-big {
		font-variant: small-caps;
		font-weight: 400;
		font-size: 22px;
	}
	& strong{
		font-weight: 400;
	}
}

.story{
	&-h2 {
		font-size: 14px;
		color: map-get($colors, congo-brown);
	}
	&-h3 {
		font-size: 12px;
		font-style: italic;
		color: map-get($colors, congo-brown);
	}
	&-date {
		color: rgba(map-get($colors, congo-brown), 0.7);
		font-size: 12px;
		float: right;
	    font-style: italic;
	}
}

.date{
	color: rgba(map-get($colors, congo-brown), 0.7);
	font-size: 12px;
	float: right;
    font-style: italic;
} 

.tag{
    display: inline-block;
    margin-right: 5px;
    font-weight: 300;
    font-style: italic;
    font-size: 12px;
    opacity: 0.9;
    span{
        font-weight: 100;
        font-size: 14px;
        opacity: 0.6;
    }

    .skill &{
    	margin-right: 0;
    	margin-left: 5px;
    }
}