doctype html
html
  head
    // En-tête de la page
    meta(charset='utf-8')
    link(href='styles/style.css', rel='stylesheet', type='text/css')
    title Domitille Roger
    script(src='script/angular.min.js')
    script(src='script/variables.js')
    script(src='script/app.js')
  body.bgcolor-moon-mist(ng-app="app")
    .layout-fixed(ng-controller="appController")
      div.header
        .sheet.bgcolor-flush-mahogany
          //p Domitille Roger 
            span - Ingénieur, passionnée de webdesign
      div
        .btn.btn-fab.bgcolor-flush-mahogany
          i.icon.icon-mail

      h2 All events

      ul
        h3 Events

        //li(ng-repeat="event in events | filterByTags:filterBy.tags") {{event.types}} {{ event.tags}}
        li(ng-repeat="event in events | filterByTypes:filterBy.types") {{event.type}}


        //li(ng-repeat="event in events | filter: { type: filterBy.type } | filter: { tags: filterBy.tags }")
        //li(ng-repeat="event in events | filter: filterByToString")
        //li(ng-repeat="event in events | filter:filterBy.type == 'formation' || filterBy.type == 'work_experience'")
          p
            {{event.title}}, 
            {{event.structure}}, 
            {{event.location}} 
            span(ng-show="event.date.start && event.date.end") de 
            span(ng-show="event.date.start") {{event.date.start | date : event.date.format}} 
            span(ng-show="event.date.start && event.date.end") à 
            span(ng-show="event.date.end") {{event.date.end | date : event.date.format}} 
          p {{event.description}}
          p
            span(ng-repeat="tag in event.tags" style="font-weight: bold;") {{tag}}



        //h3 Formations
        //li(ng-repeat="event in events | filter: { type: 'formation' }  | orderBy: '-date.end'")
          p
            {{event.title}}, 
            {{event.structure}}, 
            {{event.location}} 
            span(ng-show="event.date.start && event.date.end") de 
            span(ng-show="event.date.start") {{event.date.start | date : event.date.format}} 
            span(ng-show="event.date.start && event.date.end") à 
            span(ng-show="event.date.end") {{event.date.end | date : event.date.format}} 
          p {{event.description}}
          p
            span(ng-repeat="tag in event.tags") {{tag}}
        
        //h3 Expériences pro
        //li(ng-repeat="event in events | filter: { type: 'work_experience' }  | orderBy: '-date.end'")
          p
            {{event.title}}, 
            {{event.structure}}, 
            {{event.location}} 
            span(ng-show="event.date.start && event.date.end") de 
            span(ng-show="event.date.start") {{event.date.start | date : event.date.format}} 
            span(ng-show="event.date.start && event.date.end") à 
            span(ng-show="event.date.end") {{event.date.end | date : event.date.format}} 
          p {{event.description}}
          p
            span(ng-repeat="tag in event.tags") {{tag}}
        
        //h3 Associations
        //li(ng-repeat="event in events | filter: { type: 'association' }  | orderBy: '-date.end'")
          p
            {{event.title}}, 
            {{event.structure}}, 
            {{event.location}} 
            span(ng-show="event.date.start && event.date.end") de 
            span(ng-show="event.date.start") {{event.date.start | date : event.date.format}} 
            span(ng-show="event.date.start && event.date.end") à 
            span(ng-show="event.date.end") {{event.date.end | date : event.date.format}} 
          p {{event.description}}
          p
            span(ng-repeat="tag in event.tags") {{tag}}

        //h3 Projets
        //li(ng-repeat="event in events | filter: { type: 'project' }  | orderBy: '-date.end'")
          p
            {{event.title}}, 
            {{event.structure}}, 
            {{event.location}} 
            span(ng-show="event.date.start && event.date.end") de 
            span(ng-show="event.date.start") {{event.date.start | date : event.date.format}} 
            span(ng-show="event.date.start && event.date.end") à 
            span(ng-show="event.date.end") {{event.date.end | date : event.date.format}} 
          p {{event.description}}
          p
            span(ng-repeat="tag in event.tags") {{tag}}
