doctype html
html
  head
    // En-tête de la page
    meta(charset='utf-8')
    //link(href='css/style.css', rel='stylesheet', type='text/css')
    link(href='styles/style.css', rel='stylesheet', type='text/css')
    title Domitille Roger
    script(src='script.js')
  body.bgcolor-moon-mist
    .layout-fixed
      div
        .sheet.bgcolor-flush-mahogany Domitille Roger - Webdesign
      div
        .sheet.bgcolor-congo-brown
          h1.title-big Compétences
          .wrapper
            .arc
            .skill
              h2 Front-endddd
              ul
                li #node
                li #grunt
                li #gulp
                li #npm
                li #angular
            .arc.arc2
            .skill
              h2 Création
              ul
                li #adobePhotoshop
                li #adobeIllustrator
                li #adobePremierePro
                li #adobeAfterEffects
                li #frontify
                li #diy
                li #origami
            .arc.arc3
            .arc.arc4
      div
        .sheet.bgcolor-flush-mahogany Story short lines
      div
        .btn-fab.bgcolor-flush-mahogany
          i.icon.icon-mail
      .central
        .block
          p.category
            i.icon.icon-work
          p.date Avril 2015 à maintenant
          p.title
            strong Ingénieur études et développement
            | , Smile
        .block
          p.category
            i.icon.icon-formation
          p.date Septembre-Décembre 2014,
          p.title
            strong Ecole de Technologie Supérieure
            | , Montréal
        .block
          p.category
            i.icon.icon-project
          p.date 2013
          p.title
            strong Map'us
            | , Projet de fin d'études
        .block
          p.category
            i.icon.icon-work
          p.date Avril à Août 2014
          p.title
            strong Graphiste & développeuse web
            | , Stage, Square IT Services, SSII, Asnières-sur-Seine
          // <p>Refonte graphique et création de la vidéo de la gamme de produit SOFT, intégration du design, refonte du site web de Square IT Services</p>
        .block
          p.category
            i.icon.icon-formation
          p.date Octobre 2013 à février 2014,
          p.title
            strong CNAM
            | , Formation graphisme et web
        .block
          p.category
            i.icon.icon-project
          p.date 2013
          p.title
            strong Optipark
            | , développement, ergonomie et design d'une application web destinée à gérer le parking de l'entreprise Aubay
        .block
          p.category
            i.icon.icon-project
          p.date 2013
          p.title
            strong Nuit de l'informatique
            | , Design d'un site y-commerce
        .block
          p.category
            i.icon.icon-formation
          p.date 2013
          p.title
            strong SI, ECE Paris
            | , Majeure
        .block
          p.category
            i.icon.icon-project
          p.date 2013
          p.title
            strong Site BDE
            | , Webmaster
        .block
          p.category
            i.icon.icon-work
          p.date Juin à Août 2013
          p.title
            strong Chef de projet
            | , Stage, Axience, Laboratoire pharmaceutique, Pantin
          // <p>Création d’un site internet de présentation des produits intégrant un espace administration, un espace vétérinaire et un espace public, intégration du design du site</p>
        .block
          p.category
            i.icon.icon-asso
          p.date Mars 2013 à Mars 2014
          p.title
            strong Responsable communication & webmaster
            |  au sein du Bureau Des Élèves de l’ECE Paris
        .block
          p.category
            i.icon.icon-work
          p.date Juin à Août 2012
          p.title
            strong Conception et design
            | , Stage, Absolutlabs, Paris
          // <p>Réalisation et design d’applications mobiles, création du site internet de promotion d’une application</p>
        .block
          p.category
            i.icon.icon-asso
          p.date Mars 2012 à Mars 2013
          p.title
            strong Responsable communication
            |  au sein de l’iTeam association de promotion du logiciel libre
        .block
          p.category
            i.icon.icon-formation
          p.date Septembre-Décembre 2011,
          p.title
            strong Concordia University
            | , Engineering School, Montréal
        .block
          p.category
            i.icon.icon-formation
          p.date 2009 - 2015
          p.title
            strong ECE Paris, École d’ingénieurs
            | , SI, Section internationale
        .block
          p.category
            i.icon.icon-formation
          p.date Juin 2009,
          p.title
            strong Lycée de Juilly
            | , BAC Scientifique, Spécialité Maths
