doctype html
html
  head
    // En-tête de la page
    meta(charset='utf-8')
    
    script(src='script/angular.min.js')
    script(src='script/variables.js')
    script(src='script/app.js')
    
    link(href='styles/font-awesome.css' rel="stylesheet" type="text/css")
    link(href='styles/style.css', rel='stylesheet', type='text/css')

    title Domitille Roger


  body.bgcolor-moon-mist(ng-app="app")
    .layout-fixed(ng-controller="appController")
      div.header
        .sheet.bgcolor-flush-mahogany
          p Domitille Roger 
            span - Ingénieur, passionnée de webdesign
      div
        .btn.btn-fab.bgcolor-crimson
          //i.icon.icon-mail

 

      //li(ng-repeat="event in events | filterByTags:filterBy.tags") {{event.types}} {{ event.tags}}

      .timeline
        div.select 
          label Select type ...
            //i.fa.fa-angle-down
          ul
            li.option(ng-click="changeFilterByTypes()"): a(href="#") All
            li.option(ng-click="changeFilterByTypes('formation')"): a(href="#") Formations
            li.option(ng-click="changeFilterByTypes('work_experience')"): a(href="#") Exp pro
            li.option(ng-click="changeFilterByTypes('project')"): a(href="#") Projets
            li.option(ng-click="changeFilterByTypes('association')"): a(href="#") Exp asso

        div.select 
          label Order by ...
            //i.fa.fa-angle-down
          ul
            li.option(ng-click="changeOrderBy('date.end')"): a(href="#") Chronologique
            li.option(ng-click="changeOrderBy('date.start')"): a(href="#") Décroissant
        // | orderBy: orderBy | filterByTags:filterBy.tags}
        .block(ng-repeat="event in events | filterByTypes:filterBy.types | orderBy: orderBy")
          p.category.category-formation(ng-show="event.type=='formation'")
            i.icon.icon-formation
          p.category.category-work(ng-show="event.type=='work_experience'")
            i.icon.icon-work
          p.category.category-project(ng-show="event.type=='project'")
            i.icon.icon-project
          p.category.category-asso(ng-show="event.type=='association'")
            i.icon.icon-asso
          p.date
            span Start: {{event.date.start | date : event.date.format}} 
            span End: {{event.date.end | date : event.date.format}} 
          div.main
            h3.title {{event.title}}, 
              span {{event.structure}}
            p.description {{event.description}}, 
            p
              span.tag(ng-repeat="tag in event.tags") {{tag}} 
